<div class="mat-mini-fab">
  <button type="button" mat-mini-fab color="default" (click)="login('google')" matTooltip="Enter to application with Google authorization">
    <img src="https://wwwd.fbc.co.il/sizeoff/assets/google-color.svg" height="25" alt="goggle">
  </button>
  <button type="button" mat-mini-fab color="default" (click)="login('facebook')" matTooltip="Enter to application with Facebook authorization">
    <img src="https://wwwd.fbc.co.il/sizeoff/assets/facebook-round-color.svg" height="25" alt="facebook">
  </button>
  <button type="button" mat-mini-fab color="default" (click)="login('github')" matTooltip="Enter to application with Github authorization">
    <img src="https://wwwd.fbc.co.il/sizeoff/assets/github.svg" height="25" alt="github">
  </button>
</div>
